<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materPanel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterPanel">
        <activity android:name=".UI.AdminMaintainProductsActivity" />
        <activity android:name=".UI.PracticeWork" />
        <activity android:name=".UI.AdminUserProductsActivity" />
        <activity android:name=".UI.AdminNewOrders" />
        <activity android:name=".UI.AdminCategory" />

        <activity android:name=".UI.Chat.ChatActivity" />
        <activity android:name=".UI.Chat.HomeChatActivity" />
        <activity android:name=".UI.Chat.LoginChatActivity" />
        <activity android:name=".UI.Chat.MainChatActivity" />
        <activity android:name=".UI.Chat.RegistrationChatActivity" />
        <activity android:name=".UI.Chat.SettingChatActivity" />


        <activity
            android:name=".UI.TestWork"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".UI.AddData" />
        <activity android:name=".UI.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Login" />
        <activity android:name=".UI.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>